$color-light: #999;
$color-semi-dark: #666;
$color-dark: #333;
$color-points: #ff591c;

$text-size-large: 20px;
$text-size-medium: 11px;
$text-size-small: 10px;
$text-size-x-small: 9px;
$text-size-xx-small: 8px;
