/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
  padding-bottom: 20px; }

.main-content {
  margin-top: 20px; }

.points {
  color: #ff591c; }

.points:before {
  content: '\00A4 ';
  margin-right: 1px; }

.large {
  font-size: 20px; }

.medium {
  font-size: 11px; }

h1 {
  border-bottom: 4px solid #333; }

.navbar-logged-in {
  float: right;
  margin-top: 14px;
  color: #999; }

.frontpage-box {
  min-height: 220px;
  position: relative; }
  .frontpage-box .bottom {
    position: absolute;
    bottom: 0; }
  .frontpage-box .huge {
    font-size: 155px;
    line-height: 81px; }
  .frontpage-box .car {
    margin: 10px 0 0 -10px; }

.jumbotron {
  background-image: url("../gfx/header-bg.jpg");
  background-size: cover;
  background-position: top; }
  .jumbotron h1 {
    border-bottom: none; }

nav ul {
  float: left;
  margin-top: 14px; }
nav li {
  float: left;
  list-style: none;
  margin-right: 20px; }
nav a {
  color: #ff591c; }

.news {
  color: rgba(51, 51, 51, 0.6); }

ul.cars {
  padding: 0; }
  ul.cars li {
    list-style: none;
    float: left;
    margin: 0 1em;
    padding: 0 1em 1em;
    border-bottom: 1px solid #999;
    max-width: 330px; }
  ul.cars dl {
    float: left;
    font-size: 11px;
    width: 100%; }
  ul.cars dt {
    text-transform: uppercase;
    color: #999;
    float: left;
    clear: left; }
  ul.cars dd {
    text-align: right;
    float: right; }
  ul.cars div {
    height: 190px;
    overflow: hidden; }
  ul.cars a {
    float: left;
    clear: both; }

#js-car-location-map {
  margin-left: -100000px;
  width: 500px;
  height: 400px;
  -webkit-box-shadow: 0 4px 16px #000 ;
  -moz-box-shadow: 0 4px 16px #000 ;
  box-shadow: 0 4px 16px #000 ; }

#js-rentals-location-map {
  width: 100%;
  height: 250px; }

#page-rentals-create dt {
  float: left;
  clear: left; }
#page-rentals-create dd {
  float: right; }

#js-rentals-period {
  margin: 0 0 1em;
  max-height: 100px;
  overflow-y: auto; }
  #js-rentals-period dl {
    font-size: 11px; }
  #js-rentals-period dt {
    font-weight: normal; }

#js-rentals-total dl {
  margin-bottom: 1em; }

.datepicker .override_price {
  text-decoration: underline;
  text-decoration-color: red; }
.datepicker .disabled {
  text-decoration: line-through; }

#page-users-mypage dt {
  float: left;
  clear: left; }
#page-users-mypage dd {
  float: right;
  text-align: right; }
#page-users-mypage .subsc button {
  margin-top: -24px; }
#page-users-mypage table {
  width: 100%; }
#page-users-mypage thead {
  border-bottom: 2px solid #333; }

span.subsc {
  font-size: 20px;
  text-shadow: 1px 1px 2px black; }

span.subsc-bronse {
  color: #ff591c; }

span.subsc-soelv {
  color: silver; }

span.subsc-gull {
  color: gold; }

span.subsc-platinum {
  color: lightblue; }

#page-subscriptions-index dt {
  float: left;
  clear: left; }
#page-subscriptions-index dd {
  float: left;
  margin-left: 30px; }
  #page-subscriptions-index dd button {
    margin-top: 16px; }

/*# sourceMappingURL=styles.css.map */
