<IfModule mod_rewrite.c>
    <IfModule mod_negotiation.c>
        Options -MultiViews
    </IfModule>

    RewriteEngine On

    # Redirect Trailing Slashes.
    # If development server
    RewriteCond %{HTTP_HOST} =debian
    RewriteRule ^(.*)/$ /~bjorn/wtr/prosjekt/$1 [L,R=301]
    # If live
    RewriteRule ^(.*)/$ /IINI2001-A/prosjekt/$1 [L,R=301]

    # Handle Front Controller
    # If development server
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{HTTP_HOST} =debian
    RewriteRule ^ /~bjorn/wtr/prosjekt/index.php [L]

	# If live
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ /IINI2001-A/prosjekt/index.php [L]
</IfModule>
